.topbar{
  /*background-color: #424242;*/
  width: fit-content;
  height: auto;
  margin: auto;
}
  
.topbarbuttons{
  background-color: #cbcbcb;
  border: none;
  height: 30px;
  width: 100px;
}

.desc{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;

}

.experimentdiv{
  /*background-color: #424242;*/
  width: fit-content;
  height: auto;
  margin: auto;
}

.button{
  background-color: #cbcbcb;
  border: none;
  height: 45px;
  width: 100px;
}